In [1]:
import pandas as pd
import numpy as np

In [18]:
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, MetaData
from sqlalchemy import inspect, func
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Date
from sqlalchemy.ext.declarative import declarative_base

In [3]:
# Create an engine for the 'hawaii.sqlite' database
engine = create_engine("sqlite:///hawaii.sqlite", echo=False)
# Create a connection to the engine called `conn`
conn = engine.connect()

In [4]:
#Read CSV Files

hawaii_measurments = "clean_measurement.csv"
hawaii_stations = "hawaii_stations.csv"

# Use Pandas to read data
measurements_df = pd.read_csv(hawaii_measurments, encoding = "ISO-8859-1")
stations_df = pd.read_csv(hawaii_stations, encoding = "ISO-8859-1")

In [11]:
# Create both the Measurements and stations tables within the database
Base = declarative_base()
Base.metadata.create_all(conn)

In [12]:
inspector = inspect(engine)
inspector.get_table_names()

['measurements', 'stations']

In [13]:
# Create Measurements and Stations classes
class Measurements(Base):
    __tablename__ = 'measurements'
    __table_args__ = {'extend_existing': True}
    
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

class Stations(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [19]:
metadata = MetaData(bind=engine)
metadata.reflect()

Measure_table = sqlalchemy.Table('measurements', metadata, autoload=True)
Station_table = sqlalchemy.Table('stations', metadata, autoload=True)

In [20]:
conn.execute(Measure_table.delete())
conn.execute(Station_table.delete())

In [22]:
measuredata = measurements_df.to_dict(orient='records')
stationdata = stations_df.to_dict(orient='records')

In [23]:
# Open the session
session = Session(engine)

# Insert the dataframe into the database in one bulk
conn.execute(Measure_table.insert(), measuredata)
conn.execute(Station_table.insert(), stationdata)

# Commit the changes
session.commit()

In [24]:
conn.execute("select * from measurements limit 10").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70),
 (6, 'USC00519397', '2010-01-08', 0.0, 64),
 (7, 'USC00519397', '2010-01-09', 0.0, 68),
 (8, 'USC00519397', '2010-01-10', 0.0, 73),
 (9, 'USC00519397', '2010-01-11', 0.01, 64),
 (10, 'USC00519397', '2010-01-12', 0.0, 61)]

In [25]:
conn.execute("select * from stations limit 10").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]